.hire-overlay {
    position: fixed;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: translateZ(0px) scale(0);
    border-radius: 50%;
    top: -708px;
    bottom: -708px;
    left: -300px;
    right: -300px;
    min-height: 100%;
    will-change: transform;
    background: #000;
    background-attachment: fixed;
    z-index: 1111111111111;
    overflow: hidden;
    -webkit-transition: all .75s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all .75s cubic-bezier(0.19, 1, 0.22, 1);
}
.hire-overlay .bg {
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/overlay-bg.jpg) center center;
    background-attachment: fixed;
    opacity: 0;
}
.show-overlay .hire-overlay {
    z-index: 1111111111111;
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: translateZ(0) scale(1);
}
.hide-overlay .hire-overlay {
    z-index: 1111111111111;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    transform: translateZ(0) scale(0);
}
.show-overlay .hire-button {
    max-width: 70px;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.show-overlay.hide-overlay .hire-button {
    max-width: 360px;
    border-radius: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes showoverlay {
    from {
        z-index: 1111111111111;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -moz-transform: scale(0);
        transform: translateZ(0) scale(0);
    }
    to {
        z-index: 1111111111111;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        transform: translateZ(0) scale(1);
    }
}
@keyframes hideoverlay {
    to {
        z-index: 1111111111111;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -moz-transform: scale(0);
        transform: translateZ(0) scale(0);
    }
    from {
        z-index: 1111111111111;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        transform: translateZ(0) scale(1);
    }
}
.hire-form {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    height: 450px;
    top: 50%;
    margin-top: -225px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    padding: 40px;
    opacity: 0;
    transform: translateZ(0);
    will-change: opacity;
}
.show-overlay .hire-form {
    opacity: 1;
    -webkit-transition: all 0.25s .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.25s .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.show-overlay.hide-overlay .hire-form {
    opacity: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.show-overlay .bg {
    opacity: 1;
    -webkit-transition: all 0.25s .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.25s .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.show-overlay.hide-overlay .bg {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
}
.hire-form form {
    max-width: 600px;
    margin: 0 auto;
}
.hire-overlay .close-btn {
    color: #fff;
    position: absolute;
    top: 712px;
    right: 315px;
    opacity: 1;
    font-size: 49px;
    font-family: sans-serif;
    text-decoration: none !important;
    font-weight: lighter;
}
.hire-form .btn {
    float: right;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}
.hire-form .btn:hover {
    color: rgb(197, 255, 247);
    text-shadow: 0 0 55px #009bc7, 0 0 25px #59daff, 0 0 5px #999;
    font-weight: bold;
    -webkit-transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}
.hire-form .section-title {
    color: rgb(197, 255, 247);
    text-shadow: 0 0 55px #009bc7, 0 0 25px #59daff, 0 0 5px #999;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.hire-form .section-title {
    text-align: center !important;
}

@media (max-width: 991px){


}

@media(max-width:767px) {

    .hire-form {
        margin: 0 auto;
        color: #fff;
        position: absolute;
        top: 708px;
        left: 0;
        padding: 15px 15px;
        opacity: 0;
        transform: translateZ(0);
        will-change: opacity;
        margin: 80px auto 0;
        width: auto;
        right: 0;
    }
    .hire-form .btn {
        font-size: 14px;
    }
    .form-group .control-label {
        font-size: 14px;
    }
    .form-group select ~ .control-label,
    .form-group input:focus ~ .control-label,
    .form-group input:valid ~ .control-label,
    .form-group input.form-file ~ .control-label,
    .form-group input.has-value ~ .control-label,
    .form-group textarea:focus ~ .control-label,
    .form-group textarea:valid ~ .control-label,
    .form-group textarea.form-file ~ .control-label,
    .form-group textarea.has-value ~ .control-label {
        font-size: 12px;
    }
    .form-group select {
        margin-left: 0;
    }
    .hire-overlay .close-btn {
        font-size: 30px;
    }
    .hire-overlay {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
    }
    .hire-overlay .close-btn {
        top: 4px;
        right: 15px;
    }
    .hire-form {
        top: 0;
    }
    .form-group {
        padding-left: 0 !important;
        padding: 0;
    }
}